.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../../../images/cover__background.png);
    aspect-ratio: 1/0.625;
}

.cover__link::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2A2C2F;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    transition: 0.4s;
}

.cover__link:hover::before {
    opacity: 0.8;
}