.places {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 margin: 92px 148px 0 148px;
 gap: 80px;
} 
  
@media (max-width: 1024px) {
    .places {
        margin: 92px 48px 0 48px;
        gap: 80px;
    }
}

@media (max-width: 768px) {
    .places {
        margin: 88px 24px 0 24px;
        gap: 73px;
        
    }
}

@media (max-width: 320px) {
    .places {
        margin: 64px 0 0 0;
        padding: 0;
        gap: 50px;
        width: 288px;
    }
}