.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 56px 148px 0 148px;
  padding: 0;
  aspect-ratio: 1/0.625;
}

@media (max-width: 1024px) {
  .lead {
      margin: 48px 48px 0 48px;
  }
}

@media (max-width: 768px) {
  .lead {
      margin: 48px 0 0 0;
  }
}
