.cover {
    margin: 92px auto 0 auto;
    padding: 0;
    max-width: 1184px;
    position: relative;
    width: calc(100% - 96px);
}
@media (max-width: 1024px) {
    .cover {
    margin: 92px 0 0 0;
    }
}

@media (max-width: 768px) {
    .cover {
    margin: 90px 0 0 0;
       }
}


@media (max-width: 500px) {
    .cover{
    margin: 66px 0 0 0;
    }
}