.place__link {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    transition: 0.4s;
    opacity: 1;
    text-decoration-line: underline;
}

.place__link:hover {
    opacity: 0.8;
}