.cover__title {
font-weight: 900;
font-size: 72px;
line-height: 76px;
padding: 245px 312px 0 312px;;
margin: 0 auto;
text-align: center;
color: #ffffff;
z-index: 6;
position: relative;
}

@media (max-width: 1024px) {
.cover__title {
padding: 195px 232px 0 232px;
    }
}

@media (max-width: 768px) {
.cover__title {
padding: 0;
font-size: 72px;
line-height: 76px;
max-width: 560px;
    }
}

@media (max-width: 320px) {
.cover__title {
padding: 33px 16px 0 16px;
       }

}