.place {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 20px;
}

@media (max-width: 1024px) {
    .place {
        /* grid-template-columns: repeat(2, minmax(440px, 1fr)); */
        gap: 48px 32px;
    }
}

@media (max-width: 768px) {
    .place {
        /* grid-template-columns: repeat(2, minmax(340px, 1fr)); */
        gap: 48px 28px;
    }
}

@media (max-width: 680px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}
